<ion-content>


  <div class="body" align="center">

    <ion-icon name="arrow-round-back" class="backIcon" size="large" routerLink="/"></ion-icon>


    <div class="container">
      <ion-text class="titulo">
        Minha Nota Anhembi
      </ion-text> <br> <br>

      <ion-text class="texto">
        Preencha os campos na aba "Nota N2" e descubra
        quanto você precisa tirar na prova N2! <br> <br>

        *Dica: se quiser saber quanto precisa tirar na N2 da matéria EAD,
        preencha todos os campos com a sua média N1!

        <br>
        <br>

        Já fez a N2? Então descubra se foi aprovado(a) na aba "Nota Final"!
        <br>
        <br>

        Na aba "Salvas" você pode guardar os valores que você precisa tirar para consultar quando quiser!
        <br>
        <br>
        <hr>
      </ion-text>


      <ion-text class="texto">
        <br>
        Feito por Augusto Ferreira <br>
        <strong> Sem fins lucrativos, apenas educacionais!</strong> <br>
        <strong> Este não é um aplicativo oficial! </strong>

        <br> <br>
        Dúvidas, críticas, elogios, reclamações, xingamentos, cartas de amor e afins:
        <br> <br>
        <ion-text class="email texto">ferreirabaugusto@gmail.com </ion-text>

      </ion-text>
    </div>
  </div>


</ion-content>